.wrapper {
    padding-top: 30px;
    .header-follow {
        display: flex;
        gap: 20px;

        h1 {
            font-size: 32px;
            color: #333;
            font-weight: 500;
        }
    }
}
