.title {
    font-size: 22px;
    margin-bottom: 24px;
    color: #333;
    font-weight: 500;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 5px;
}

.avatar-upload {
    position: relative;
    margin-right: 30px;

    .avatar-edit {
        position: absolute;
        right: 58px;
        bottom: 40px;
        z-index: 1;

        & > input {
            display: none;
        }

        & > label {
            padding: 1px 8px;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
            background: hsla(0, 0%, 100%, 0.8);
            border: rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
            transition: all 0.2s ease-in-out;
            border-radius: 3px;
            cursor: pointer;

            &:hover {
                background: #f1f1f1;
                border-color: #d6d6d6;
            }
        }
    }
    .avatar-preview {
        width: 260px;
        height: 260px;
        margin: 0 auto;
        padding: 3px;
        border-radius: 50%;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        object-fit: cover;
    }
}

.action-button {
    text-align: end;
    margin-top: 50px;

    .button-edit {
        margin-left: 10px;
        padding: 2px 10px;
        background-color: hsla(0, 0%, 100%, 0.8);
        border-color: rgba(0, 0, 0, 0.1);
        color: #333;
        font-size: 14px;
        text-transform: unset;
        font-weight: 400;
    }
}
