.MuiPaper-root {
    margin-top: 10px !important;
}

.search-result {
    width: 410px;

    .wrapper-search {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: min((100vh - 96px) - 60px, 734px);
        border-radius: 8px;
        background: rgb(255, 255, 255);
        box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;

        .title-search {
            padding: 8px 15px 12px;
            font-size: 15px;
            font-weight: 500;
            line-height: 16px;
            background-color: #333;
            color: #ccc;
        }
    }
}

.menu {
    padding: 4px 40px 8px 8px !important;

    .menu-item {
        display: flex;

        .menu-item-title {
            font-size: 14px;
            color: #333;
            font-weight: 500;
        }
    }
}
