.social {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
}

.name-social {
    width: 240px;
    padding: 0px 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
